{% extends "layout.twig" %}

{% block title %}home{% endblock %}

{% block content %}
<div id="content">
    {% if entries|length > 0 %}
    {% for entry in entries %}
        <div id="entry-{{entry.id}}" class="entrie mb2">
            <span class="content">
                <h2 class="h6-like">
                    <a href="view/{{entry.id}}">{{entry.title}}</a>
                </h2>
                <div class="tools">
                    <ul>
                        <li><a href="delete/{{entry.id}}" title="delete entry">X</a></li>
                    </ul>
                </div>
            </span>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/poche.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery.masonry.min.js"></script>

<script type="text/javascript">
    $( window ).load( function()
    {
        var columns    = 3,
            setColumns = function() { columns = $( window ).width() > 640 ? 3 : $( window ).width() > 320 ? 2 : 1; };

        setColumns();
        $( window ).resize( setColumns );

        $( '#content' ).masonry(
        {
            itemSelector: '.entrie',
            columnWidth:  function( containerWidth ) { return containerWidth / columns; }
        });
    });
</script>
{% endblock %}